:host {
  ::ng-deep {
    .p-card {
      width: 100%;
    }
    .p-card .p-card-body {
      padding: 0rem;
    }
    .p-card .p-card-footer {
      padding: 0;
  }
  }
}

.stretch-card {
  height: inherit;
  display: flex;
}
