<div
  class="flex flex-row justify-content-center w-full h-full align-content-center mt-8"
>
  <div class="flex flex-column gap-2 p-6">
    <zoo-label
      class="p-2 text-center"
      [label]="content"
      [labelClass]="'text-lg'"
    ></zoo-label>

    <img
      class="flex flex-row justify-content-center align-content-center cursor-pointer max-w-30rem ml-6"
      (click)="home()"
      [src]="pageNotFound"
    />

    <zoo-button
      class="justify-content-center flex"
      [label]="'Home'"
      [size]="'sm'"
      [icon]="'pi-home'"
      [iconPos]="'left'"
      [isRounded]="true"
      (click)="home()"
    >
    </zoo-button>
  </div>
</div>
