

  <div class="flex flex-row justify-content-evenly justify-content-center w-full p-5 back-color">

      <zoo-label [label]="'Alagist'" [labelClass]="'text-lg font-bold'"></zoo-label>

      <div class="flex flex-column gap-2">
          <zoo-label [label]="'Quick Links'" [labelClass]="'text-sm font-semibold'"></zoo-label>

          <zoo-label [label]="'Book Now'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'Search'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'FAQs'" [labelClass]="'text-xs'"></zoo-label>

      </div>

      <div class="flex flex-column gap-2">
          <zoo-label [label]="'For Business'" [labelClass]="'text-sm font-semibold'"></zoo-label>

          <zoo-label [label]="'List your business'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'Pricing'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'FAQs'" [labelClass]="'text-xs'"></zoo-label>

      </div>

      <div class="flex flex-column gap-2">
          <zoo-label [label]="'Legal'" [labelClass]="'text-sm font-semibold'"></zoo-label>

          <zoo-label [label]="'Privacy Policy'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'Terms of Service'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'Terms of Use'" [labelClass]="'text-xs'"></zoo-label>

      </div>

      <div class="flex flex-column gap-2">
          <zoo-label [label]="'Social'" [labelClass]="'text-sm font-semibold'"></zoo-label>

          <zoo-label [label]="'Facebook'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'Twitter'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'LinkedIn'" [labelClass]="'text-xs'"></zoo-label>

          <zoo-label [label]="'Instagram'" [labelClass]="'text-xs'"></zoo-label>

      </div>

  </div>



