<div class="flex flex-column gap-3 container">
    <div class="flex flex-column gap-3 align-items-center p-3 m-5">
        <div class="flex flex-column gap-3 text-center">
            <zoo-label [label]="'Download our Mobile Apps'" [labelClass]="'text-2xl font-bold'">
            </zoo-label>

            <div class="flex flex-column gap-1 text-center">
                <zoo-label
                    [label]="'Book unforgettable beauty and wellness experiences with our mobile app, or run your business with our '"
                    [labelClass]="'text-sm'">
                </zoo-label>
                <zoo-label [label]="'award-winning, 100% subscription-free iOS and Android booking platform'"
                    [labelClass]="'text-sm'">
                </zoo-label>
            </div>
        </div>
    </div>

    <div class="flex flex-row gap-3 justify-content-center">
        <zoo-card class="card h-full flex flex-column col-5" [isFooterBorder]="false" [isFooter]="false"
            [isHeader]="false" [headerClass]="'bg-black-alpha-10 border-round-top-xl p-3'">
            <div card-header>

            </div>

            <div card-content class="gap-3 flex flex-column">
                <zoo-label [label]="'Alagist for Customers'" [labelClass]="'text-2xl font-semibold'"></zoo-label>
                <zoo-label [label]="'Instantly book beauty and wellness services'" [labelClass]="'bg-black'">
                </zoo-label>
                <div class="flex flex-row gap-3">
                    <p-image [src]="'assets/images/googleplay.png'" alt="" width="150" ></p-image>
                    <p-image [src]="'assets/images/appstore.png'" alt="" width="150" ></p-image>

                </div>
            </div>

            <div card-footer class="flex justify-content-between"></div>
        </zoo-card>

        <zoo-card class="card h-full flex flex-column col-5 b-card" [isFooterBorder]="false" [isFooter]="false"
            [isHeader]="false" [headerClass]="'bg-black-alpha-10 border-round-top-xl p-3'">

            <div card-content class="gap-3 flex flex-column">
                <zoo-label [label]="'Alagist for Business'" [labelClass]="'text-2xl font-semibold'"></zoo-label>
                <zoo-label [label]="'Simple,flexible and powerful software for your business'"
                    [labelClass]="'bg-black'">
                </zoo-label>
                <div class="flex flex-row gap-3">
                    <p-image [src]="'assets/images/googleplay.png'" alt="" width="150" class="border-1 border-round m-0"></p-image>
                    <p-image [src]="'assets/images/appstore.png'" alt="" width="150" class="border-1 border-round m-0"></p-image>

                </div>
            </div>

            <div card-footer class="flex justify-content-between"></div>
        </zoo-card>


    </div>


        <div class="flex flex-row gap-3 mt-auto ">

            <div class="flex flex-row justify-content-evenly justify-content-center w-full p-5 back-color">

                <zoo-label [label]="'Alagist'" [labelClass]="'text-lg font-bold'"></zoo-label>

                <div class="flex flex-column gap-2">
                    <zoo-label [label]="'Quick Links'" [labelClass]="'text-sm font-semibold'"></zoo-label>

                    <zoo-label [label]="'Book Now'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'Search'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'FAQs'" [labelClass]="'text-xs'"></zoo-label>

                </div>

                <div class="flex flex-column gap-2">
                    <zoo-label [label]="'For Business'" [labelClass]="'text-sm font-semibold'"></zoo-label>

                    <zoo-label [label]="'List your business'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'Pricing'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'FAQs'" [labelClass]="'text-xs'"></zoo-label>

                </div>

                <div class="flex flex-column gap-2">
                    <zoo-label [label]="'Legal'" [labelClass]="'text-sm font-semibold'"></zoo-label>

                    <zoo-label [label]="'Privacy Policy'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'Terms of Service'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'Terms of Use'" [labelClass]="'text-xs'"></zoo-label>

                </div>

                <div class="flex flex-column gap-2">
                    <zoo-label [label]="'Facebook'" [labelClass]="'text-sm font-semibold'"></zoo-label>

                    <zoo-label [label]="'Twitter'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'LinkedIn'" [labelClass]="'text-xs'"></zoo-label>

                    <zoo-label [label]="'Instagram'" [labelClass]="'text-xs'"></zoo-label>

                </div>

            </div>


    </div>
