<div class="flex flex-column w-full">
  <p-toolbar class="toolbar bg-white">
    <div class="flex flex-row col-12">
    <div class="col-6 gap-2 ">
      <div class="flex flex-row gap-5">
        <label class="text-xl font-bold mr-5 cursor-pointer" (click)="navigateTo('/home')"> Alagist</label>
        <div class="flex gap-3 font-semibold mt-1">
          <zoo-label
            [label]="'Discover'"
            [labelClass]="'text-sm cursor-pointer'"
            (click)="navigateTo('/discover')"
          ></zoo-label>

          <zoo-label
          [label]="'About Us'"
          [labelClass]="'text-sm'"
        ></zoo-label>

        <zoo-label
        [label]="'FAQs'"
        [labelClass]="'text-sm'"
      ></zoo-label>

      <zoo-label
      [label]="'Download'"
      [labelClass]="'text-sm'"
    ></zoo-label>


        </div>

      </div>
    </div>
      <div class="flex flex-row justify-content-end gap-3 col-6 font-semibold mt-1" >
        <zoo-label
        [label]="'For Business'"
        [labelClass]="'text-sm'"
      ></zoo-label>

      <zoo-label
      [label]="'Login'"
      [labelClass]="'text-sm cursor-pointer'"
      (click)="navigateTo('/login')"
    ></zoo-label>

      </div>
    </div>

  </p-toolbar>
</div>

<p-toast position="top-right" key="toast">
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-row justify-content-between w-full">
      <div class="flex flex-row gap-3">
        <i
          class="{{ getIconClass(message) }} justify-content-center"
          style="font-size: 2rem"
        ></i>
        <div class="flex flex-column gap-2 justify-content-between">
          <div>{{ message.summary | translate }}</div>
          <div>{{ message.detail | translate }}</div>
        </div>
      </div>
      <zoo-button
        class="justify-content-center flex align-content-center"
        [size]="'sm'"
        [icon]="'pi-times'"
        [isIconOnly]="true"
        [isText]="true"
        (click)="message.clear()"
      >
      </zoo-button>
    </div>
  </ng-template>
</p-toast>
<p-confirmDialog
  key="confirmDialog"
  icon="pi pi-exclamation-triangle"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined p-button-secondary"
>
</p-confirmDialog>
<p-confirmPopup key="confirmPopup"></p-confirmPopup>
<router-outlet></router-outlet>
